<div class="container">
    <h3>Sign Up</h3>

    <%= render "form", user: @user %>
        <div class="cto-option">
            <p id="sign-in">Already have an account? <%= link_to "Log in", login_path %></p>
            <p></p>
        </div>
</div>